In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
retail_shopping_basket = {'ID':[1,2,3,4,5,6],
                         'Basket':[['Beer', 'Diaper', 'Pretzels', 'Chips', 'Aspirin'],
                                   ['Diaper', 'Beer', 'Chips', 'Lotion', 'Juice', 'BabyFood', 'Milk'],
                                   ['Soda', 'Chips', 'Milk'],
                                   ['Soup', 'Beer', 'Diaper', 'Milk', 'IceCream'],
                                   ['Soda', 'Coffee', 'Milk', 'Bread'],
                                   ['Beer', 'Chips']
                                  ]
                         }

In [4]:
retail_shopping_basket

{'Basket': [['Beer', 'Diaper', 'Pretzels', 'Chips', 'Aspirin'],
  ['Diaper', 'Beer', 'Chips', 'Lotion', 'Juice', 'BabyFood', 'Milk'],
  ['Soda', 'Chips', 'Milk'],
  ['Soup', 'Beer', 'Diaper', 'Milk', 'IceCream'],
  ['Soda', 'Coffee', 'Milk', 'Bread'],
  ['Beer', 'Chips']],
 'ID': [1, 2, 3, 4, 5, 6]}

In [5]:
retail = pd.DataFrame(retail_shopping_basket)

In [6]:
retail

   ID                                             Basket
0   1           [Beer, Diaper, Pretzels, Chips, Aspirin]
1   2  [Diaper, Beer, Chips, Lotion, Juice, BabyFood,...
2   3                                [Soda, Chips, Milk]
3   4               [Soup, Beer, Diaper, Milk, IceCream]
4   5                        [Soda, Coffee, Milk, Bread]
5   6                                      [Beer, Chips]

In [7]:
retail_id = retail.drop('Basket' ,1)
retail_id

   ID
0   1
1   2
2   3
3   4
4   5
5   6

In [8]:
retail_Basket = retail.Basket.str.join(',')
retail_Basket

0              Beer,Diaper,Pretzels,Chips,Aspirin
1    Diaper,Beer,Chips,Lotion,Juice,BabyFood,Milk
2                                 Soda,Chips,Milk
3                  Soup,Beer,Diaper,Milk,IceCream
4                          Soda,Coffee,Milk,Bread
5                                      Beer,Chips
Name: Basket, dtype: object

In [9]:
retail_Basket = retail_Basket.str.get_dummies(',')
retail_Basket

,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [16]:
frequent_itemsets = apriori(retail_Basket, use_colnames=True)

In [17]:
frequent_itemsets

    support        itemsets
0  0.666667          (Beer)
1  0.666667         (Chips)
2  0.500000        (Diaper)
3  0.666667          (Milk)
4  0.500000   (Chips, Beer)
5  0.500000  (Diaper, Beer)

In [18]:
association_rules(frequent_itemsets, metric='lift', min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Chips),(Beer),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333
1,(Beer),(Chips),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333
2,(Diaper),(Beer),0.500000,0.666667,0.5,1.00,1.500,0.166667,inf
3,(Beer),(Diaper),0.666667,0.500000,0.5,0.75,1.500,0.166667,2.000000

### MovieLens数据集测试

In [20]:
movies = pd.read_csv('movies.csv')

In [21]:
movies_ohe = movies.drop('genres',1).join(movies.genres.str.get_dummies())

In [22]:
pd.options.display.max_columns=100

In [23]:
movies_ohe.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
movies_ohe.shape

(9125, 22)

In [25]:
movies_ohe.set_index(['movieId','title'],inplace=True)

In [26]:
movies_ohe.head()

,,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,title,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [27]:
frequent_itemsets_movies = apriori(movies_ohe,use_colnames=True, min_support=0.025)

In [28]:
frequent_itemsets_movies

     support                  itemsets
0   0.169315                  (Action)
1   0.122411               (Adventure)
2   0.048986               (Animation)
3   0.063890                (Children)
4   0.363288                  (Comedy)
5   0.120548                   (Crime)
6   0.054247             (Documentary)
7   0.478356                   (Drama)
8   0.071671                 (Fantasy)
9   0.096110                  (Horror)
10  0.043178                 (Musical)
11  0.059507                 (Mystery)
12  0.169315                 (Romance)
13  0.086795                  (Sci-Fi)
14  0.189479                (Thriller)
15  0.040219                     (War)
16  0.058301       (Adventure, Action)
17  0.037589          (Comedy, Action)
18  0.038247           (Crime, Action)
19  0.051178           (Drama, Action)
20  0.040986          (Sci-Fi, Action)
21  0.062904        (Thriller, Action)
22  0.029260     (Adventure, Children)
23  0.036712       (Comedy, Adventure)
24  0.032438        (Adventure, Drama)
25  0.030685      (Adventure, Fantasy)
26  0.027726       (Adventure, Sci-Fi)
27  0.027068     (Children, Animation)
28  0.032877        (Comedy, Children)
29  0.032438           (Comedy, Crime)
30  0.104000           (Comedy, Drama)
31  0.026959         (Comedy, Fantasy)
32  0.090082         (Comedy, Romance)
33  0.067616            (Drama, Crime)
34  0.057863         (Crime, Thriller)
35  0.031671          (Mystery, Drama)
36  0.101260          (Drama, Romance)
37  0.087123         (Drama, Thriller)
38  0.031014              (Drama, War)
39  0.043397        (Horror, Thriller)
40  0.036055       (Mystery, Thriller)
41  0.028932        (Sci-Fi, Thriller)
42  0.035068  (Comedy, Drama, Romance)
43  0.032000  (Drama, Crime, Thriller)

In [29]:
rules_movies =  association_rules(frequent_itemsets_movies, metric='lift', min_threshold=1.25)

In [30]:
rules_movies

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Adventure),(Action),0.122411,0.169315,0.058301,0.476276,2.812955,0.037575,1.586111
1,(Action),(Adventure),0.169315,0.122411,0.058301,0.344337,2.812955,0.037575,1.338475
2,(Crime),(Action),0.120548,0.169315,0.038247,0.317273,1.873860,0.017836,1.216716
3,(Action),(Crime),0.169315,0.120548,0.038247,0.225890,1.873860,0.017836,1.136081
4,(Sci-Fi),(Action),0.086795,0.169315,0.040986,0.472222,2.789015,0.026291,1.573929
5,(Action),(Sci-Fi),0.169315,0.086795,0.040986,0.242071,2.789015,0.026291,1.204870
6,(Thriller),(Action),0.189479,0.169315,0.062904,0.331984,1.960746,0.030822,1.243510
7,(Action),(Thriller),0.169315,0.189479,0.062904,0.371521,1.960746,0.030822,1.289654
8,(Adventure),(Children),0.122411,0.063890,0.029260,0.239033,3.741299,0.021439,1.230158
9,(Children),(Adventure),0.063890,0.122411,0.029260,0.457976,3.741299,0.021439,1.619096
10,(Adventure),(Fantasy),0.122411,0.071671,0.030685,0.250671,3.497518,0.021912,1.238881
11,(Fantasy),(Adventure),0.071671,0.122411,0.030685,0.428135,3.497518,0.021912,1.534608
12,(Adventure),(Sci-Fi),0.122411,0.086795,0.027726,0.226500,2.609607,0.017101,1.180614
13,(Sci-Fi),(Adventure),0.086795,0.122411,0.027726,0.319444,2.609607,0.017101,1.289519
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205
16,(Comedy),(Children),0.363288,0.063890,0.032877,0.090498,1.416453,0.009666,1.029255
17,(Children),(Comedy),0.063890,0.363288,0.032877,0.514580,1.416453,0.009666,1.311672
18,(Comedy),(Romance),0.363288,0.169315,0.090082,0.247964,1.464511,0.028572,1.104581
19,(Romance),(Comedy),0.169315,0.363288,0.090082,0.532039,1.464511,0.028572,1.360609
20,(Crime),(Thriller),0.120548,0.189479,0.057863,0.480000,2.533256,0.035022,1.558693
21,(Thriller),(Crime),0.189479,0.120548,0.057863,0.305379,2.533256,0.035022,1.266089
22,(Drama),(Romance),0.478356,0.169315,0.101260,0.211684,1.250236,0.020267,1.053746
23,(Romance),(Drama),0.169315,0.478356,0.101260,0.598058,1.250236,0.020267,1.297810
24,(Drama),(War),0.478356,0.040219,0.031014,0.064834,1.612015,0.011775,1.026321
25,(War),(Drama),0.040219,0.478356,0.031014,0.771117,1.612015,0.011775,2.279087
26,(Horror),(Thriller),0.096110,0.189479,0.043397,0.451539,2.383052,0.025186,1.477810
27,(Thriller),(Horror),0.189479,0.096110,0.043397,0.229034,2.383052,0.025186,1.172413
28,(Mystery),(Thriller),0.059507,0.189479,0.036055,0.605893,3.197672,0.024779,2.056601
29,(Thriller),(Mystery),0.189479,0.059507,0.036055,0.190283,3.197672,0.024779,1.161509
30,(Sci-Fi),(Thriller),0.086795,0.189479,0.028932,0.333333,1.759206,0.012486,1.215781
31,(Thriller),(Sci-Fi),0.189479,0.086795,0.028932,0.152689,1.759206,0.012486,1.077769
32,"(Comedy, Drama)",(Romance),0.104000,0.169315,0.035068,0.337197,1.991536,0.017460,1.253291
33,(Romance),"(Comedy, Drama)",0.169315,0.104000,0.035068,0.207120,1.991536,0.017460,1.130057
34,"(Drama, Crime)",(Thriller),0.067616,0.189479,0.032000,0.473258,2.497673,0.019188,1.538742
35,"(Drama, Thriller)",(Crime),0.087123,0.120548,0.032000,0.367296,3.046884,0.021497,1.389989
36,(Crime),"(Drama, Thriller)",0.120548,0.087123,0.032000,0.265455,3.046884,0.021497,1.242778
37,(Thriller),"(Drama, Crime)",0.189479,0.067616,0.032000,0.168884,2.497673,0.019188,1.121845

In [31]:
rules_movies[(rules_movies.lift>4)].sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205

In [32]:
movies[(movies.genres.str.contains('Children')) & (movies.genres.str.contains('Animation'))]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
46,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
211,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
216,244,Gumby: The Movie (1995),Animation|Children
...,...,...,...
8927,135887,Minions (2015),Adventure|Animation|Children|Comedy
8928,136016,The Good Dinosaur (2015),Adventure|Animation|Children|Comedy|Fantasy
9029,145935,"Peanuts Movie, The (2015)",Adventure|Animation|Children|Comedy
9070,152081,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
9079,156025,Ice Age: The Great Egg-Scapade (2016),Adventure|Animation|Children|Comedy